:root {
    background: linear-gradient(90deg, var(--wht) 25%, var(--brwn) 100%);
    --drkst: #2C3639;
    --drk: #3F4E4F;
    --brwn: #A27B5C;
    --wht: #DCD7C9;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

header {
    text-align: center;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: lightblue;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
