:root {
    background: linear-gradient(90deg, var(--wht) 25%, var(--brwn) 100%);
    --drkst: #2C3639;
    --drk: #3F4E4F;
    --brwn: #A27B5C;
    --wht: #DCD7C9;
}

* {
    padding: 0;
    margin: 0;
    font-size: 62.5%;
    list-style-type: none;
}

header {
    z-index: 3;
    display: block;
    position: fixed;
    top: 0;
    height: 15vh;
    width: 100%;
    text-align: center;
    background-color: var(--drkst);
}

h1 {
    margin-top: 5vh;
    font-size: 5rem;
    color: var(--wht);
}


body {
    height: 100vh;
    width: 100%;
}

/* The brown box that contains the input */

.searchbar {
    z-index: 1;
    display: flex;
    position: absolute;
    align-items: center;
    right: 25vw;
    top: 20vh;
    background-color: var(--brwn);
    height: 20vh;
    width: 50vw;
    border: 0.5rem solid var(--drk);
    border-radius: 2rem;
}

.searchtext {
    display: block;
    text-align: center;
    width: 50vw;
}

h2 {
    font-size: 3rem;
    padding-bottom: 2rem;
    color: var(--drkst);
}

h3,
h4,
p {
    color: var(--drkst);
}

input {
    height: 2.5rem;
    width: 25vw;
    font-size: 2rem;
}

button {
    height: 2rem;
    width: 5rem;
}

::placeholder {
    color: var(--drkst);
}

.btn {
    font-size: 1rem;
    background-color: var(--drk);
    color: var(--wht);
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.04rem 1.4rem 0 var(--wht);
    transition: transform 150ms;
}

.float-center {
    margin-left: 15vw;
}

/* Starts the weather part of the dashboard */

.row {
    display: flex;
    margin-top: 50vh;
    height: 45vh;
    width: 65vw;
}

.firstCard {
    height: 40rem;
    width: 25rem;
    border: 0.3rem solid var(--drk);
    border-radius: 3rem;
    padding-left: 2rem;
}

h3 {

    font-size: 4rem;
}

.today {
    font-size: 1.5rem;
    padding-top: 2rem;
}

.fiveDayForecast {
    display: flex;
    justify-content: center;
    padding-left: 1rem;
    height: 41rem;
    width: 100rem;
}

.oneDay {
    margin-top: 5rem;
    height: 35rem;
    width: 35rem;
    padding-left: 2rem;
    margin-left: 2rem;
    border: 0.3rem solid var(--drk);
    border-radius: 3rem;
}

h4 {
    font-size: 2rem;
}

.foreDay {
    font-size: 1rem;
    padding-top: 2rem;
}

footer {
    position: fixed;
    height: 40vh;
    width: 100%;
    background-color: var(--drkst);
}

@media (max-width: 768px) {
    .row {
        display: block;
    }

    .fiveDayForecast {
        display: block;
    }

    .oneDay {
        height: 30vh;
        width: 40vw;
    }
}

@media (max-width: 1100px) {
    .row {
        display: block;
    }

    .fiveDayForecast {
        display: block;
    }

    .oneDay {
        height: 30vh;
        width: 19vw;
    }
}